<p style="color: green"><%= notice %></p>

<h1>Books</h1>
<%= form_tag(my_books_path, method: 'get') do %>
  <%= select_tag :category, options_for_select(Category.all.map { |c| [c.name, c.id] }, params[:category]), include_blank: true %>
  <%= submit_tag 'Filter' %>
<% end %>

<div id="books">
  <% @books.each do |book| %>
    <%= render book %>
    <p>
      <%= link_to "Show this book", book %>
    </p>

  
</div>

<%= link_to "New book", new_book_path %>
